workflows/form-to-pdf.json
{
  "name": "Turn n8n form submissions into PDFs with TemplateFox",
  "nodes": [
    {
      "parameters": {
        "content": "## Turn n8n form submissions into PDFs with TemplateFox\n\nNo-code PDF generation from a simple web form. Users pick a document type, fill in details, and get a PDF generated and emailed to them.\n\n### Who is this for?\nTeams who need a quick internal tool to generate invoices, receipts, certificates, or packing slips without building a custom app.\n\n### How it works\n1. User fills out the built-in n8n form (invoice, receipt, certificate, or packing slip)\n2. Code node maps the selected document type to a TemplateFox template ID\n3. TemplateFox generates the PDF\n4. PDF link is emailed to the recipient\n5. Form shows a success confirmation\n\n### How to set up (~5 min)\n1. Install the **TemplateFox** community node from Settings \u2192 Community Nodes\n2. Add your **TemplateFox API** credentials\n3. Open the \"Map Template & Build Data\" code node and paste your template IDs\n4. Update the sender email in the \"Email PDF to Recipient\" node\n5. Activate and share the form URL with your team\n\n### Requirements\n- TemplateFox API key \u2014 [get one free at app.templatefox.com](https://app.templatefox.com)\n- Gmail account with OAuth2\n\n### How to customize\n- Add or remove document types in the form dropdown and code node mapping\n- Edit form fields to match your template variables\n- Uses n8n's built-in Form Trigger \u2014 no external form tool needed\n\n**Note:** This template uses the [TemplateFox community node](https://www.npmjs.com/package/n8n-nodes-templatefox). Install it from Settings \u2192 Community Nodes.",
        "color": 3
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000101",
      "name": "Template Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -480
      ],
      "parameters_height": 640,
      "parameters_width": 480
    },
    {
      "parameters": {
        "content": "### 1. Form Input\nBuilt-in n8n form with template picker, recipient info, and document details.",
        "color": 0
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000102",
      "name": "Step 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        -160
      ],
      "parameters_height": 100,
      "parameters_width": 200
    },
    {
      "parameters": {
        "content": "### 2. Map Template\nMaps form selection to a TemplateFox template ID. Update the IDs here.",
        "color": 0
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000103",
      "name": "Step 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        -160
      ],
      "parameters_height": 100,
      "parameters_width": 220
    },
    {
      "parameters": {
        "content": "### 3. Generate PDF\nTemplateFox generates the PDF using the mapped template and form data.",
        "color": 0
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000104",
      "name": "Step 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        -160
      ],
      "parameters_height": 100,
      "parameters_width": 200
    },
    {
      "parameters": {
        "content": "### 4. Email & Respond\nSends the PDF link via email and shows a success message on the form.",
        "color": 0
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000105",
      "name": "Step 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -160
      ],
      "parameters_height": 100,
      "parameters_width": 220
    },
    {
      "parameters": {
        "formTitle": "Generate PDF Document",
        "formDescription": "Fill in the details below to generate your PDF document.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Template",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Invoice"
                  },
                  {
                    "option": "Receipt"
                  },
                  {
                    "option": "Certificate"
                  },
                  {
                    "option": "Packing Slip"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Recipient Name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "John Doe"
            },
            {
              "fieldLabel": "Recipient Email",
              "fieldType": "email",
              "requiredField": true,
              "placeholder": "john@example.com"
            },
            {
              "fieldLabel": "Company Name",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Acme Inc."
            },
            {
              "fieldLabel": "Amount",
              "fieldType": "number",
              "requiredField": false,
              "placeholder": "99.99"
            },
            {
              "fieldLabel": "Description",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "Service description or additional notes..."
            }
          ]
        },
        "options": {
          "respondWithData": false
        }
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000001",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const form = $input.first().json;\nconst template = form.Template;\n\n// Update these with your actual TemplateFox template IDs\n// Find them at app.templatefox.com \u2192 Templates\nconst templateMap = {\n  'Invoice': '',\n  'Receipt': '',\n  'Certificate': '',\n  'Packing Slip': ''\n};\n\nconst templateId = templateMap[template];\nif (!templateId) {\n  throw new Error(`Template \"${template}\" not configured. Update the template IDs in this Code node.`);\n}\n\n// Build template data from form fields\nconst data = {\n  name: form['Recipient Name'],\n  email: form['Recipient Email'],\n  company_name: form['Company Name'] || '',\n  amount: form['Amount'] || '',\n  description: form['Description'] || '',\n  date: new Date().toISOString().split('T')[0],\n  document_number: `DOC-${Date.now().toString(36).toUpperCase()}`\n};\n\nreturn [{\n  json: {\n    templateId,\n    templateName: template,\n    data,\n    recipientEmail: form['Recipient Email'],\n    recipientName: form['Recipient Name']\n  }\n}];"
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000002",
      "name": "Map Template & Build Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "generatePdf",
        "templateId": "={{ $json.templateId }}",
        "dataInputMode": "json",
        "jsonData": "={{ JSON.stringify($json.data) }}",
        "options": {
          "filename": "={{ $json.templateName.toLowerCase() + '-' + $json.data.document_number }}"
        }
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000003",
      "name": "TemplateFox - Generate PDF",
      "type": "n8n-nodes-templatefox.templateFox",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "credentials": {
        "templateFoxApi": {
          "name": "TemplateFox API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Map Template & Build Data').item.json.recipientEmail }}",
        "subject": "=Your {{ $('Map Template & Build Data').item.json.templateName }} is ready",
        "message": "=<p>Hi {{ $('Map Template & Build Data').item.json.recipientName }},</p>\n<p>Your {{ $('Map Template & Build Data').item.json.templateName.toLowerCase() }} has been generated.</p>\n<p><a href=\"{{ $json.url }}\" style=\"display:inline-block;padding:12px 24px;background:#2563eb;color:white;text-decoration:none;border-radius:6px;\">Download PDF</a></p>\n<p style=\"color:#666;font-size:13px;\">This link expires in 24 hours.</p>",
        "options": {}
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000004",
      "name": "Email PDF to Recipient",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Your {{ $('Map Template & Build Data').item.json.templateName }} has been generated and sent to {{ $('Map Template & Build Data').item.json.recipientEmail }}!"
      },
      "id": "d4e5f6a7-4444-4000-a000-000000000005",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Map Template & Build Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Template & Build Data": {
      "main": [
        [
          {
            "node": "TemplateFox - Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TemplateFox - Generate PDF": {
      "main": [
        [
          {
            "node": "Email PDF to Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email PDF to Recipient": {
      "main": [
        [
          {
            "node": "Respond to Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PDF"
    },
    {
      "name": "Form"
    },
    {
      "name": "Automation"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  }
}